body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

header {
  padding: 20px 0;
}

header .row, footer .row {
  display: flex;
  align-items: center;
}

header h1 {
  font-weight: 100;
  padding: 15px;
  margin: 0;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

.navbar-default {
    position: fixed;
}

header p {
  padding: 0 20px;
  margin: 0;
}

header a {
  font-size: 20px;
  padding: 20px 20px;
  margin: 0;
}

a:link, a:visited {
    color: black;
}

a:hover {
    text-decoration: none;
    color: grey;

}
a:active {
  color: grey;
}

.jumbotron {
  display: flex;
  align-items: center;
  background-image: url(../background/mac.png);
  background-size: cover;
  margin-top: 0;
  margin-bottom: 0;
  color: #ffffff;
  height: 936px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
}

.jumbotron h2 {
  font-size: 40px;
  font-weight: 200;
  margin: 0;
  color: #fff;
}

.jumbotronProject {
  display: flex;
  align-items: center;
  background-image: url(../background/wood.jpg);
  background-size: cover;
  margin-top: 0;
  margin-bottom: 0;
  color: #ffffff;
  height: 950px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
}

.jumbotronProject h2 {
  font-size: 40px;
  font-weight: 200;
  margin: 0;
  color: #fff;
}

section .row img {
  margin: 0 0 30px;
  width: 100%;
}

.typing {
  font-size:125%;
  width:20em;
  white-space:nowrap;
  overflow:hidden;
  border-right: .2em solid black;

  -webkit-animation: typing 2s steps(25, end), /* # of steps = # of characters */
                      blink-caret 1s step-end infinite;
  -moz-animation: typing 2s steps(25, end), /* # of steps = # of characters */
                      blink-caret 1s step-end infinite;
}

@-webkit-keyframes typing {
  from { width: 0 }
/*  to { width:10.3em }*/
}

@-moz-keyframes typing {
  from { width: 0 }
/*  to { width:10.3em }*/
}

@-webkit-keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: black }
}

@-moz-keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: black }
}

footer {
  font-size: 12px;
  padding: 20px 0;
}

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}

footer ul {
  list-style: none;
}

footer li img {
  width: 32px;
  height: 32px;
}
